
@font-face{
    font-family: 'Gloria Hallelujah', sans-serif;
    src: url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);
}

body{
    background-color: #000000;
    font-family: 'Gloria Hallelujah';
}

.background{
    filter: blur(20px);
}

#ball{
    position: absolute;
    top: 140px;
    left: 110px;
    width:900px;
    opacity: 1;
    transition: opacity 1s;
}

#ball.hidden{
    display: none;
}

.ball2{
    position: absolute;
    top: 140px;
    left: 110px;
    width:900px;
}

.rBall{
    position: absolute;
    top: 70px;
    left: 110px;
    width:900px;
}

div{
    width: 1580px;
}
    
.elmo{
    position: absolute;
    top: 750px;
    left: 90px; 
    width: 1580px;
}

.elmo2{
    position: absolute;
    top: 902px;
    left: 10px;  
    width: 1580px;
}

#emoji{
    position: absolute;
    top: 320px;
    left: 680px;
    z-index: 3;
    text-align: center;
}

fade-in{
    height: 1px;
    padding: 0;
}

header{
    font-size: 100px;
}

h1{
    text-align: center
}

#roll{
    position: absolute;
    top: 477px;
    right: 153px;
    background-color: darkmagenta;
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: 'Gloria Hallelujah';
    opacity: 1;
    transition: opacity 1s;
}

#roll.hidden{
    display: none;
}

.roll2{
    position: absolute;
    top: 477px;
    right: 113px;
    background-color: darkmagenta;
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: 'Gloria Hallelujah';
}

.wat{
    position: relative;
    left: 500px;
    top: 10px;
    width: 500px;
    transform: scale(2)
}

input { 
  display: none;
}

#target { 
  opacity: 0;
  background-color: rosybrown;
  background: black;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  position: absolute;
  height: 160%;
  width: 100%;  
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-transition: all 2s; /* Safari */
  transition: all 2s;
}

#click:checked ~ label > #target {
  opacity: 1;
  z-index: 200;
  cursor: pointer;  
  pointer-events: auto;
}

#replay {
  color: crimson;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  cursor: pointer;
}

#warning {
  color: white;
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
}